.weekPlanner-container{
    text-align: center;
    background-color: rgb(51, 51, 51);
    padding-bottom:30px;
    border-bottom: black solid 10px;
    width:100%;
}
.weekPlanner-container h3{
    color:white;
}
.weekPlanner{
    width:80vw;
    margin:0 auto;
}
.weekPlanner td{
    width: 14.2%;
}
.weekPlanner td:first-child{
    width: 5%;
}

/* coming soon  */
.coming-soon {
    position: relative;
    top:15px;
    background-color: black;
    width:100%;
    height: 100%;
    font-size: larger;

}
.coming-soon span{
    position: relative;
    top:30px;
    color:white;
    font-weight: 700;
    background-color: rgba(251, 255, 0, 0.274);
    padding:10px;
    transform: rotate(20deg);
}
.coming-soon h3{
    opacity: 0.1;
}
.coming-soon td{
    opacity: 0.1;
}