.calendar {
    margin:auto;
    margin-top:20px;
    /* border:2px solid black; */
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    width:800px;
    padding:20px;
    position:relative;
}
.calendar h5{
    position:absolute;
    top:-20px;
}

.month-header {
    text-align: center;
}
.month-header p{
    margin:0;
}

.today {
    border: crimson 4px solid;
}

.hasWorkout{
    background-color: crimson;
}

table {
    border: 2px solid black;
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    height:30px;
    width:30px;
    margin: 0;
}

button {
    
    border: none;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}