
.dashboard{
    display:flex;
    justify-content: center;
}
.calendar{
    text-align:center;
}
.month-header{
    text-align: left;
}

.date{
    position:relative;
    left:-40px;
    
}
.workout{
    font-size: 11px;
}
.workoutsContainer{
    margin-left:10px;
    margin-top:10px;
}
.activity{
    text-align: left;
}
.dayStrain{
    font-size: 8px;
    /* text-align: right; */
    width:50%;
    /* padding-right:15px; */
    background-color: rgba(133, 255, 0, .5);
    /* position: relative;
    top:-2px;
    left:-20px; */
}
.strava{
    color:red;
    text-align: left;
}


table{
    border:2px solid black;
    border-collapse: collapse;
}
td{
    border:1px solid black;
    /* max-height:100px; */
    height:100px;
    width:100px;
    margin:0;
}

