.flex{
    display:flex;
}

.calendar-container{
    width:100%;
    height:auto;
    border-bottom: black solid 10px;
    background-color: rgb(68, 68, 68);
}
.program-container {
    width:100%;
    height: 200px;
    text-align:center;
    background-color: rgb(153, 153, 153);
    border-bottom: black solid 10px;
}