.weekPlanner-container{
    text-align: center;
    background-color: rgb(51, 51, 51);
    padding-bottom:30px;
    border-bottom: black solid 10px;
    width:100%;
}
.weekPlanner-container h3{
    color:white;
}
.weekPlanner{
    width:80vw;
    margin:0 auto;
}
.weekPlanner td{
    width: 14.2%;
}
.weekPlanner td:first-child{
    width: 5%;
}