.modal-container{
    position:absolute;
    top:0;
}
.dimmed-bg{
    height:100vh;
    width:100vw;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}
.workout-modal{
    border: grey solid 2px;
    width:300px;
    height:200px;
    margin:auto;
    background-color: white;
    position:absolute;
    left:40%;
    top:50px;
    z-index: 2;
}
.workout-header{
    position: relative;
    bottom:40px;
    padding-left:40px;
    background-color: palegreen;
}
.workout button{
    position: relative;
    left:272px;
    z-index: 1;
}