.workout-container{
    border:1px solid black;
    margin:2em;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.workout {
    border:1px solid red;
    list-style: none;
    text-align:center;
    /* padding:5px; */
    margin:5px;
    width: 20%;
    height:100px;
}
.workout-header{
    background-color: red;
    height:25px;
}

.workout-start-date{
    color:white;
    position:relative;
    top:3px;
}
.workouts{
    position:relative;
    top:20px;
}