.log-container{
    position:relative;
    bottom:40px;
    left:20px;
}

.log-header {
    position: relative;
    color: black;
    bottom: 40px;
    padding-left: 40px;
    background-color: rgb(212, 212, 212);
}

.log button {
    position: relative;
    left: 272px;
    z-index: 1;
}
.log-name{
    font-weight:700;
    text-decoration: underline;
}
#confirmMsg{
    border: 1px solid black;
    width:200px;
    text-align: center;
    background-color: blue;
    padding:10px;
}
#delete-log-btn{
    left:0;
}
.modalbtn{
    color: white;
    padding: 10px;
    cursor: pointer !important;
}