.form-container{
    width:50%;
    text-align: center;
    background-color: rgb(0, 0, 0, 0.8);
    padding:15px;

    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top:30px;
    text-align: center;
}
.form-container input, textarea{
    width:80%;
    padding:15px;
    margin:10px;
}
.form-container button {
    width:20%;
    padding:5px;
}
